/* Global variables */

* {
    /* border: solid red 1px; */
}

:root {
    --light-color: #F5F5F5;
    --dark-color: #181818;
}

body {
    margin: 0;
    font-size: 1.15rem;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark-mode {
    background-color: var(--dark-color);
    color: var(--light-color);
}


body {
    margin: 0;
    background: #ac8d0b;
}

form {
}

h3 {
    color: green;
    margin-top: 20px;
    margin-bottom: 0;
}

input {
    border-radius: 20px;
    width: 200px;
}

button {
    display: block;
    border-radius: 2px;
    background: #3d492b;
    font-size: 15px;
}

button:hover {
    font-size: 20px;
}

button:active {
    color: red;
}

