/* Global variables */

* {
    /* border: solid red 1px; */
}

:root {
    --light-color: #F5F5F5;
    --dark-color: #181818;
}

body {
    margin: 0;
    font-size: 1.15rem;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark-mode {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Layout */

#newsletterForm {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletterForm > * {
    margin-bottom: 2rem;
}

/* Typography */

h3 {
    font-size: 2rem;
    text-align: center;
}

input {
    border-radius: 20px;
    width: 200px;
}

button {
    display: block;
    border-radius: 2px;
    background: #3d492b;
    font-size: 15px;
}

button:hover {
    font-size: 20px;
}

button:active {
    color: red;
}

